:root {
  --color-gen: #212121;
  --color-gen2: #e5e5e5;
  --color-gen3: #f5f4fa;
  --blue-gen: #2196f3;
  --black-gen: #000000;
  --second-color: #757575;
  --white-bg: #ffffff;
  --dark-bg: #2f303a;
  --color-line: #ececec;
  --color-svg: #afb1b8;
  --color-border: #eeeeee;
  --color-border2: #afb1b8;
  --letterspacing2: 0.03em;
  --letterspacingH: 0.06em;
  --fontweight-bold: 700;
  --padding-gen: 94px;
}

* {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 0;
}

.container {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
  margin: 0 auto;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--color-gen);
  background-color: var(--white-bg);
}

.unstyled-list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
.dark-bg {
  background-color: var(--dark-bg);
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/*HEADER*/
.page-header .container {
  background-color: var(--white-bg);
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /*height: 80px;*/
  padding: 25px 0;
}
.logo {
  display: inline-block;
}
.logo h2 {
  font-family: "Raleway", sans-serif;
  font-weight: var(--fontweight-bold);
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: var(--letterspacing2);
  color: var(--blue-gen);
}
.logo span {
  color: var(--black-gen);
}
.main-nav-list {
  display: flex;
  gap: 50px;
  padding: 7px 0;
}
.main-nav-item {
  align-self: flex-start;
}

.main-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--color-gen);
}
.main-nav-link:hover,
.main-nav-link:active,
.main-nav-link:focus {
  color: var(--blue-gen);
}

.main-nav-item:first-child {
  margin-left: 93px;
}
.main-nav-item:last-child {
  margin-right: 385px;
}
.icon-mail,
.icon-phone {
  width: 16px;
  height: 12px;
  margin-right: 5px;
  fill: var(--second-color);
}
.contact-nav-link {
  color: var(--second-color);
  cursor: pointer;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.contact-nav-link:hover,
.contact-nav-link:active,
.contact-nav-link:focus {
  color: var(--blue-gen);
  stroke: var(--blue-gen);
  fill: var(--blue-gen);
}
.contact-list {
  display: flex;
  flex-shrink: 0;
  gap: 40px;
  padding: 7px 0;
}
/*MAIN Section*/
.main-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.8), rgba(47, 48, 58, 0.8)),url("../images/Imgbackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid transparent;
  max-height: 600px;
}
.hero-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 200px 452px 200px 452px;
  max-width: 696px;
}
.main-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: var(--letterspacingH);
  text-transform: uppercase;
  color: var(--white-bg);
  margin-bottom: 30px;
}
.main-button {
  margin: 0 auto;
  min-width: 200px;
  padding: 10px 20px;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  border: none;
  letter-spacing: var(--letterspacingH);
  font-weight: var(--fontweight-bold);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-decoration: none;
  color: var(--white-bg);
  background-color: var(--blue-gen);
}
.main-button:hover,
.main-button:active,
.main-button:focus {
  color: var(--white-bg);
  background-color: var(--blue-gen);
  transform: scale(1.03);
}
.main-section-description,
.customers-section {
  background-color: var(--color-gen2);
}
.description-list,
.team-list,
.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  /*justify-content: space-between;*/
  padding-bottom: var(--padding-gen);
}
.description-list-item,
.team-title,
.customers-title {
  padding-top: var(--padding-gen);
}
.description-list-item,
.team-list-item,
.customer-list-item {
  flex-basis: 270px;
  flex-grow: 0;
  flex-shrink: 1;
}
.description-list-img {
  flex-basis: 370px;
  flex-grow: 0;
  flex-shrink: 1;
}
.main-section-description-title {
  font-weight: var(--fontweight-bold);
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: var(--letterspacing2);
  color: var(--color-gen);
  padding-bottom: 50px;
}
.main-section-description-subtitle {
  font-weight: var(--fontweight-bold);
  letter-spacing: var(--letterspacing2);
  text-transform: uppercase;
  color: var(--color-gen);
  margin-bottom: 10px;
}
.main-section-description-text {
  line-height: 1.71;
  letter-spacing: var(--letterspacing2);
  color: var(--second-color);
}
.description-img {
  width: 270px;
  height: 120px;
  background-color: var(--color-gen3);
  border-radius: 4px;
  margin-bottom: 30px;
  padding: 25px 102.34px 25px 102.34px;
}
/*TEAM Section*/
.team-section {
  background-color: var(--color-gen3);
  font-size: 16px;
  text-align: center;
  letter-spacing: var(--letterspacing2);
}
.team-list-item {
  background-color: var(--white-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.employee-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.name-user {
  font-weight: 500;
  color: var(--color-gen);
  margin-bottom: 10px;
}
.name-job {
  color: var(--second-color);
  line-height: 1.18;
  margin-top: 0;
}
.social-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-top: 16px;
}
.social-link {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  fill: var(--color-svg);
  background: rgba(255, 255, 255, 0.1);
}
.social-icon {
  width: 20px;
  height: 20px;
}
footer .social-icon {
  width: 20px;
  height: 20px;
  fill: var(--white-bg);
}
.social-link:hover {
  background-color: var(--blue-gen);
  fill: var(--white-bg);
}
/*Customers Section*/
.customer-img {
  width: 170px;
  height: 92px;
  border: 1px solid var(--color-border2);
  border-radius: 4px;
  fill: var(--color-svg);
  padding: 20px;
}
.customer-img:hover {
  border: 1px solid var(--blue-gen);
  fill: var(--blue-gen);
}
.customers-list {
  padding-top: 50px;
}
/*Portofolio Section*/
.line {
  border-top: 1px solid var(--color-line);
}
.portofolio-list-tab {
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  justify-content: center;
  padding-top: var(--padding-gen);
  padding-bottom: 56px;
}
.portofolio-tab {
  padding: 6px 22px;
  background-color: var(--color-gen3);
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: var(--letterspacing2);
  border: none;
}
.portofolio-tab:hover,
.portofolio-tab:active,
.portofolio-tab:focus {
  color: var(--white-bg);
  background-color: var(--blue-gen);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portofolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding-bottom: var(--padding-gen);
}
.portofolio-list-item {
  background-color: var(--white-bg);
  border: 1px solid var(--color-border);
  flex-basis: 370px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 30%;
  cursor: pointer;
}
.portofolio-list-item:hover {
  border: 1px solid var(--color-border);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card-description {
  padding: 20px 24px;
}
.portofolio-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: var(--letterspacingH);
  color: var(--color-gen);
  margin-bottom: 4px;
}
.portofolio-description {
  font-size: 16px;
  letter-spacing: var(--letterspacing2);
  line-height: 1.87;
  color: var(--second-color);
}
/*FOOTER Section*/
.footer-section {
  padding: 60px 0px;
}
.footer_gen {
  display: flex;
  flex-wrap: wrap;
  gap: 94px;
}
.adress-description {
  margin-top: 20px;
}
#title_media {
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-bg);
}
.footer-section ul > li > a {
  font-style: normal;
  letter-spacing: var(--letterspacing2);
}
.footer-section li:first-child a {
  color: var(--white-bg);
}
.contact-link {
  color: rgba(255, 255, 255, 0.6);
}
.adress-description-item {
  margin-bottom: 20px;
}
.footer-section .logo span {
  color: var(--white-bg);
}
.is_hidden {
  display: none;
}